/*
Lyteia Kitchen
Laced
Final Project
*/
html{	
	font-weight: 300;  
    height: 2000px;
}

header{
  background-color: #EEE8D4; 
  height: 125px;
}

nav{
   float: right;
   font-family:'BEBAS'; 
}

body{
    background-color: #F4F3DC;/*site main bg color*/
}

.landing{
   /*background-image: url(2.jpg), url(3.jpg), url(4.jpg), url(5.jpg);
   background-position: top left, top right, bottom left, bottom right;*/
   background-image: url(/static/images/landingpage.png);
   background-repeat: no-repeat; 
   display: block;
   width: 960px;
   padding: 5px;
   margin-bottom: 20px;
   background-color: #eeeeee;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#main{
	padding: 150px 50px;
	margin: 0 auto;
}

button.paypal-button.large{
    width: 95px;
    padding: 0;
}

button{
    border-radius: 10px;
    background:#99b9d9;
    font-family:'BEBAS';
}

.login{
    font: 20px 'BEBAS';
    color: #0D130D;
    width: 230px;
}

.login a:link {
    text-decoration: none;
    background-color:#99b9d9;
   
}

.login a:visited {
    text-decoration: none;
    background-color:#99b9d9;
}

.login a:hover {
    text-decoration: none;
    background-color:#99b9d9;
}

.login a:active {
    text-decoration: none;
    background-color:#99b9d9;
}

h1, h2, h3 , h4, h5, h6,span{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #076BB6;
}

p{
	font-size: 13px;
}

.scroll-content{
	background-color: #F4F3DC;
}

.bar-dark{
	background-color: #EEE8D4;
}
.center{
	margin: 0 auto;
}



/*        HOME PAGE
===========================
*/

#home{
	background-color: #F4F3DC;
	margin-top: 35px;
}
#home.scroll{
	margin-top: 20px;
}

div .homeItems{
    width: 420px;
    height: 250px;
    padding: 7px;
    margin: 12px;
    border-radius: 15px;
    background-color: #EEE8D4;
    
}

div .homeName h3{
    width: 420px;
    background-color: white;
    border-bottom: 1px solid black;
}

div .homeItems button{
    float: right;
}




/*         PROFILE
===========================
*/

.closet_profile{
	color: #555555;
}

.profile_top{
	margin-top: -6px;
	height: 65px;
	-webkit-box-shadow: 0 8px 6px -3px black; 
	-moz-box-shadow: 0 8px 6px -6px black; 
	box-shadow: 0 8px 6px -6px black;
}
.profile_pic{
	margin-top: -15px;
    margin-left: -20px;
}
.profile_name{
	background-color: #F4F3DC;
   
}

.username{
     margin-left: 20px;
}

.btm_shadow{
	-webkit-box-shadow: 0 8px 6px -6px black; 
	-moz-box-shadow: 0 8px 6px -6px black; 
	box-shadow: 0 8px 6px -6px black;
}

.right_border{
	border-right: 1px solid black;
}

div.row.count{
	padding-bottom: 25px;
}


#bio{
	font-size: 12px;
}

.bio{
  margin-top: -80px;
  margin-left: 20px;
}

.trades{
    margin-top: -192px;
    margin-left: -45px;
    float: right;
    width: 230px;
    font: 20px 'BEBAS';
    color: #0D130D;
    background-color: #F7EC31;
}

.statsA{
   margin-top: -199px;
   margin-right: 199px;
   margin-left: -10px;
   float: right; 
   font: 20px 'BEBAS';
   color: #0D130D;
}

.statsS{
   margin-top: -199px;
   margin-right: 90px;
   float: right;
   font: 20px 'BEBAS';
   color: #0D130D;
}

.stats1{
    margin-top: -177px;
    margin-left: -65px;
    float: right;
    width: 230px;
    font: 20px 'BEBAS';
    color: #0D130D;
}

.stats2{
    margin-top: -178px;
    margin-right: -105px;
    float: right;
    width: 230px;
    font: 20px 'BEBAS';
    color: #0D130D;
}

.editProfile{
    margin-top: -50px;
    margin-left: 20px;
    width: 100px;
    font: 12px 'BEBAS';
    color: #0D130D;
}

/*        SHOP
===========================
*/

#shopicon{
    float: right;
    margin-top: -85px;
    margin-right: 9px;
}

.shopdrops{
    width: 120px;
    margin-top: -15px;
    margin-left: 9px;
}

.shopdropsfloat{  
}

.checkout{
    width: 330px;
    font: 20px 'BEBAS';
    color: #0D130D;
    background-color: #99b9d9;
}

.basicback{
    margin-top: 2px;
}

 div .Main{
    width: 550px;
    padding: 5px;
    margin: 5px;
    background-color: #EEE8D4;
}


/*        TRADE
===========================
*/

.photo-grid img {
  width:100%;
  margin:10px 10px 0 10px;
  
}
.photo-grid {
    margin: 35px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}
 
.photo-grid li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% / 6);
}
 
.photo-grid li a,
.photo-grid li a img {
    display: block;
    width: 100%;
    cursor: pointer;
}
 
.photo-grid li a img {
    max-width: 100%;
}
 

.photo-grid li a ul {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(71,163,218,0.2);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

/*        MEDIA QUERIES
===========================
*/

@media only screen and (max-width: 980px) {        
.landing {
    background-size: contain;
    width: 980px;

}   
 }

 @media only screen  and (min-width: 981px) and (max-width: 1081px) {   
.landing {
    width: 980px;        
    background-size: contain;

}   
 }

 @media only screen  and (min-width: 1082px) and (max-width: 1181px) {  
.landing {
    width: 1082px;
    background-size: contain;
}   
 }

 @media only screen  and (min-width: 1182px) and (max-width: 1281px) {  
.landing {
    width: 1182px;
    background-size: contain;
}   
}

 @media only screen  and (min-width: 400px) and (max-width: 600px) {  
.landing {
    width: 400px;
    background-size: contain;
}   
 }

@media screen and (max-width: 1190px) {
.photo-grid li {
    width: 20%; /* Fallback */
    width: -webkit-calc(100% / 5);
    width: calc(100% / 5);
    }
}
 
@media screen and (max-width: 945px) {
.photo-grid li {
    width: 25%; /* Fallback */
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
    }
}
 
@media screen and (max-width: 660px) {
.photo-grid li {
    width: 33.3333333%; /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 660px) {
.photo-grid li {
    width: 33.3333333%; /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    }
}
 
@media screen and (max-width: 400px) {
.photo-grid li {
    width: 50%; /* Fallback */
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
    }
}
 
@media screen and (max-width: 300px) {
.photo-grid li {
    width: 100%;
    }
}
