<html>
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/base.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
    </head>
    <body>
         <h1><img src='/static/images/lacedlogo_1.png' /></h1> 
      <center><h2>Cart</h2></center>
        <div class="shop">
            {% for shoe in shoe_info %}
            <!-- prints out the id on page replace id with image -->
            <img src='{{shoe[3]}}' />
        <ul>
            <li>{{ shoe[0] }}</li><!--id -->
            <li>{{ shoe[1] }}</li><!--name -->
            <li>${{ shoe[2] }}</li><!--price -->
            <li>${{ shoe[1] * shoe[2] }}</li>
            
        </ul>
             {% endfor %}
            <center><a class='basicback' href="{{ url_for('shop') }}">Contiune shopping</a> </center>
                 <center><button>Checkout<a><script src="/static/js/paypal-button.min.js?merchant=highfashionentertainment@gmail.com"
    data-button="buynow"
    data-name=""
    data-amount=""
    async
></script></a></button></center>


    </body>
</html>

