<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
    </head>
    <body>
        <header>
        <nav id="slide-menu">
              <br/>
           <h1><img src='/static/images/lacedlogo_slidemenu.png'/></h1>
	       <ul>
                <li class="timeline"><a href="/home">Home</li></a>
                <li class="events"><a href="/store">Shop</li></a>
                <li class="calendar"><a href="/trade">Trade</li></a>
                <li class="sep settings"><a href="/closet">Closet</li></a>
		          <li class="logout"><a href="{{ url_for('logout') }}">Logout</li></a>
	       </ul>
        </nav>
        </header>
       
  		<!-- Profile Pic + Name 
	  	=====================================
	  	-->
	  <div id='content' class='closet_profile'>
        <div class="menu-trigger"></div>
	  		
	  		<!-- Profile Picture-->
            <br/>
		  	<div class="row">
		  		<div class="col col-33 col-offset-33 center">
		  			<img class="profile_pic" src="{current_user.profilepic}}" width='100px'/>
		  		</div>
		  	</div> <!-- / row -->

		  	<!-- Profile Username and Status -->
		  	<div class="row">
		  		<div class="col center">
	   				<h4 class='username'><!--Lyte --> {{current_user.nickname}}</h4>
	   			</div>
	   		</div>
            
		  	<!-- ACTIVE, SUCCESS, COUNT
		  	=====================================
		  	-->
				<div class="row count">
					
					<!-- Active Trade Count -->
		   			<div class="col right_border">
		   				<h4 class='statsA' class="center">83</h4>
		   				<p class='stats1' class="center">ACTIVE</p>
		   			</div>

		   			<!-- Success Count -->
		   			<div class="col right_border">
		   				<h4 class='statsS' class="center">10</h4>
		   				<p class='stats2' class="center">SUCCESS</p>
		   			</div>

		  		</div>

		  		<!-- TRADE BUTTON 
				=================================
		  		-->
				<div class="row">
				  	<div class="col">
                        <!--- user trade upload --> 
                        <button class='trades'><a href="{{ url_for('tradeupload') }}">Trade</a></button> 
				  	</div>
				</div>
			 <!-- / btm_shadow -->
            
            	<!-- BIO 
			=================================
		  	-->
            <!--
		  	<div class="row">
		  		<div class="col"><h4 style="border-left:5px solid #1798D4; padding-left: 5px;">BIO</h4></div>
		  	</div> -->

		  	<div class="row">
		  		<div class='bio' class="col"><p id="bio">Sole Collector, Everything OG! Highend Sneakers Have My Attention For Now </p></div>
		  	</div>
            <button class='editProfile'><a href="">Edit Profile</a></button> 
            
<!--- Divider Needs To Be Here -->
		  	<div class="row">
		  		<div class="col">
		  			<h4 style="border-left:5px solid #1798D4; padding-left: 5px;">RECENT CLOSET</h4>
		  		</div>
		  	</div>

		  	<!-- CLOSET GALLERY 
			=================================
		  	-->
		  <div class="row">
                 <ul class="photo-grid">
                     <li><img src="static/images/4.jpg"></li>
		  			<li><img src="static/images/2.jpg"></li>
		  			<li><img src="static//images/3.jpg"></li>
                </ul>
		  	</div>
		  	
	  	</div> <!-- closet page -->
        
        
        <script src="/static/js/main1.js"></script>
    </body>
</html>


