<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/base.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
   
    </head>
    <body> 
      <header>
        <nav id="slide-menu">
            <br/>
            <h1><img src='/static/images/lacedlogo_1.png'/></h1>
	       <ul>
                <li class="timeline"><a href="/home">Home</li></a>
                <li class="events"><a href="/store">Shop</li></a>
                <li class="calendar"><a href="/trade">Trade</li></a>
                <li class="sep settings"><a href="/closet">Closet</li></a>
		        <li class="logout"><a href="{{ url_for('logout') }}">Logout</li></a>
	       </ul>
        </nav>      
        </header>
        <div id='content' class='shop'>
        <div class="menu-trigger"></div>
            <h3>{{ display_shoe.common_name }}</h3>
             <img src="{{ display_shoe.imgurl }}" class="img-responsive">
            <br />
                <ul>
                    <h4>Laced Stats</h4>
                    <li>Shoe type: {{ display_shoe.shoe_type }}</li>
                    <li>Size: {{ display_shoe.size }}</li>
                    <li>Condition: {{ display_shoe.con }}</li>
                    <li>Price: {{ display_shoe.price_str() }}</li>
                  
                    
                    <button><a href="http://twitter.com/share">Tweet</a></button>
                </ul>
            
        
                <!--- shows the items in pagedata --><br> 
                 
         <center><button><a class='basicback' href="{{ url_for('shop') }}">back</a></button></center>  
        <center><button><a class="checkout" href="/add_to_cart/{{ display_shoe.id }}">Add To Cart </a></button></center>
    <script src="/static/js/main1.js"></script>
    </body>
</html>

