<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='static/base.css'/>
    <link rel='stylesheet' type='text/css' href='static/layout.css'/>
    <link rel='stylesheet' type='text/css' href='static/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='static/main.css'/>
   
    </head>
    <body> 
      <header>
            <h1><img src='static/lacedlogo_1.png' /></h1> 
            <nav>
                <a href='/home'>Home</a>
                <a href='/store'>Shop</a>
                <a href='/trades'>Trade</a>
                <a href='/closet'>Closet</a>
                  <!---  <button><a href="{{ url_for('logout') }}">Logout</a></button>-->
            </nav>
        </header>

     <fieldset>
        <!--- var dumbs
        {{ pagedata }} -->
         <br />
         <br />

            <h4>Shop</h4> <!--- temp heading just to show what db call is printing where -->
        {% for item in pagedata %}
         <div class="home">
            {{item[1]}}-{{item[2]}}  <button><a href="/shop/{{item[0]}}">Shop</a></button> <br/>

             <!--<a href=/cart type="submit" value="add"> Add to cart</a> -->
             <!--- shows the items in pagedata -->

        {% endfor %}
             <h4>Trades</h4> <!--- temp heading just to show what db call is printing where -->
                  {% for item in trade %}
             {{item[0]}} - {{item[1]}} <button><a href="/shop/{{item[0]}}">Trade</a></button> <br/>

             <!--<a href=/cart type="submit" value="add"> Add to cart</a> -->
             <!--- shows the items in pagedata -->

        {% endfor %}
         </div>
    </fieldset>
    </body>
</html>

