<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' type='text/css' href='/static/css/base.css'/>
        <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
        <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
        <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
   
    </head>
    <body> 
      <header>
            <nav id="slide-menu">
                <h1><img src='/static/images/lacedlogo_slidemenu.png'/></h1>
	            <ul>
                    <li class="timeline"><i class="fa fa-home fa-fw"></i>&nbsp;<a  href="/home">Home</li></a>  
                    <li class="events"><i class="fa fa-shopping-cart fa-fw"></i>&nbsp;<a href="/store">Shop</li></a>
                    <li class="calender"><i class="fa fa-exchange fa-fw"></i>&nbsp;<a  href="/trade">Trade</li></a>
                    <li class="line"></li>
                    <li class="sep settings"><i class="fa fa-cog fa-fw"></i>&nbsp;<a  href="/closet">Closet</li></a>
                    <li class="logout"><i class="fa fa-sign-out fa-fw"></i>&nbsp;<a  href="{{ url_for('logout') }}">Logout</li></a>
	       </ul>
        </nav>
        </header>

        <!--- var dumbs
        {{ pagedata }} -->
         <br />
        <div id='content' class='home'>
        <div class="menu-trigger"></div>
     {% for shoe in shoe_list %}
      <div class='homeItems'>
          <div class='homeName'><h3>{{ shoe.common_name }}</h3></div>
            <img src='{{ shoe.imgurl }}'/><button><a href="/store/{{ shoe.id }}">Shop</a></button>
              
            </div>
             {% endfor %}
            {% for trade in trade_list %}  
      <div class='homeItems'>
          <div class='homeName'><h3>{{ trade.tradeName }}</h3></div>
            <img src='{{ trade.imgurl }}'/><p>condition: {{ trade.con}}</p><button><a href="/trade/{{ trade.id }}">Trade</a></button>
              
            </div>
             {% endfor %}
            
         </div>
        <script src="/static/js/main1.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </body>
</html>

