<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/base.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
   
    </head>
    <body> 
      <header>
            <nav id="slide-menu">
              <br/>
                <h1><img src='static/images/lacedlogo_1.png'/></h1>
	       <ul>
                <li class="timeline"><a href="/home">Home</li></a>
                <li class="events"><a href="/store">Shop</li></a>
                <li class="calendar"><a href="/trade">Trade</li></a>
                <li class="sep settings"><a href="/closet">Closet</li></a>
		      <li class="logout"><a href="{{ url_for('logout') }}">Logout</li></a>
	       </ul>
        </nav>
        </header>

        <!--- var dumbs
        {{ pagedata }} -->
         <br />
    
        <div id='content' class='home'>
            <div class="menu-trigger"></div>
            <!-- <h4>Shop</h4>--> <!--- temp heading just to show what db call is printing where -->
        {% for item in pagedata %}
      <div class='homeItems'>
          <div class='homeName'><h3>{{item[1]}}</h3></div>
            <img src='{{item[3]}}'/> <p>{{item[5]}}</p><button><a href="/shop/{{item[0]}}">Shop</a></button>
              
            </div>
             {% endfor %}
        
       <!-- <h4>Trades</h4>--> <!--- temp heading just to show what db call is printing where -->
        {% for item in trade %}
             <div class='homeItems'>  
                <div class='homeName'><h3>{{item[1]}}</h3></div>
                    <img src='{{item[3]}}'/> <p>{{item[2]}}</p> <button><a href="/trade/{{item[0]}}">Trade</a></button> 
        
        </div> 
            {% endfor %} 
         </div>
        <script src="/static/js/main1.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </body>
</html>

