<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/base.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
    </head>
    <body class='landing'> 
        <div id='main'>
		   <img src='static/images/laced_logo.png' />
       <!-- <h1>Laced</h1> -->

        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
         <br/>
         <br/>
         <br/>
           <button style="position: absolute; left: 20%; right: 20%; bottom: 5%;" class='login' type="button"><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Laced with Twitter</a></button>
         <button style="position: absolute; left: 50%; right: 20%; bottom: 5%;" class='login' type="button"><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Laced with Facebook</a></button>    
        {% endif %}
        </div>
    </body>
</html>
