<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/base.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
   
    </head>
    <body> 
      <header>
            <h1><img src='static/images/lacedlogo_1.png' /></h1>
            <nav>
                <a href='/home'>Home</a>
                <a href='/store'>Shop</a>
                <a href='/trade'>Trade</a>
                <a href='/closet'>Closet</a>
                   <!--- <button><a href="{{ url_for('logout') }}">Logout</a></button>-->
            </nav>
        </header>
        <!---{{session["loggedin"]}} -->

        <!--- var dumbs
        {{ pagedata }} -->
         <br />
         <br />
         <select class='shopdrops'>
            <option value="condition">Condition</option>
        </select>
          <select class='shopdrops shopdropsfloat'>
            <option value="size">Size</option>
        </select>
          <select class='shopdrops shopdropsfloat'>
            <option value="price">Price</option>
        </select>
        <img id='shopicon' src='static/cart_icon.png' />
   <a href="#"><img id='shopicon' src='static/cart_icon.png' /></a> 

         {% for shoe in shoe_list %}
         <div class="shop">
            <div class='Main'>
                <h3><a href="/store/{{ shoe.id }}">{{ shoe.common_name }}</a></h3>
                  <a href="/store/{{ shoe.id }}">
                      <img src="{{ shoe.imgurl }}" >
                  </a>
      
             </div>
        {% endfor %}
         </div>
    </body>
</html>

