<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/base.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
    </head>
    <body> 
       <header>
            <h1><img src='static/images/lacedlogo_1.png' /></h1>
        </header>
        
        <p>Laced is all about Trading in a safe way! Make sure to add size, condition and a brief description along with a good image the better the image, and description the better chance of someone making a offer on the item</p>

            <form action="/upload" method=post enctype=multipart/form-data>
        <p>
            <input type=file name=file><br />
            <p>Add a Label:</p>
            <input type=text name=label value='{{ request.form.label }}'><br />
            <input name='size' value='{{ request.form.size }}' required="required" /><br/>
            <input name='con' value='{{ request.form.con }}' required="required" /><br/>
            <input name='descript' value='{{ request.form.descript }}' /><br/>
            <input type=submit value=Upload>
        </p>
        </form>
        
 <button class='trades'><a href="{{ url_for('closet') }}">back to closet</a></button>
    </body>
</html>

