<html>   
    <head>
        <title>Laced</title>
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/base.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/layout.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/skeleton.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/main.css'/>
    </head>
    <body> 
       <header>
         <nav id="slide-menu">
              <br/>
            <h1><img src='static/images/lacedlogo_1.png'/></h1>
	       <ul>
                <li class="timeline"><a href="/home">Home</li></a>
                <li class="events"><a href="/store">Shop</li></a>
                <li class="calendar"><a href="/trade">Trade</li></a>
                <li class="sep settings"><a href="/closet">Closet</li></a>
		        <li class="logout"><a href="{{ url_for('logout') }}">Logout</li></a>
	       </ul>
        </nav>
    </header>
    <div id='content'>
        <div class="menu-trigger"></div>
        
        <p>Laced is all about Trading in a safe way! Make sure to add size, condition and a brief description along with a good image the better the image, and description the better chance of someone making a offer on the item</p>

            <form action="/upload" method=post enctype=multipart/form-data>
        <p>
            <input type=file name=file><br />
            <input type=text name=label placeholder="Name" value='{{ request.form.label }}'><br />
            <input name='size' placeholder="Size"value='{{ request.form.size }}' required="required" /><br/>
            <input name='con' placeholder="Condition" value='{{ request.form.con }}' required="required" /><br/>
            <input name='descript' placeholder="Descripiton" value='{{ request.form.descript }}' /><br/>
            <input type=submit value=Upload>
        </p>
        </form>
        
 <button class='trades'><a href="{{ url_for('closet') }}">back to closet</a></button>
<script src="/static/js/main1.js"></script>
    </body>
</html>

