/*
Lyteia Kitchen
Laced
Final Project
*/
html{	
	font-weight: 300;    
}

body{
    background-color: #F4F3DC;/*site main bg color*/
}


header{
  background-color: #EEE8D4; 
  height: 125px;
}

nav{
    float: right;
    font-family:'BEBAS';
}

.landing{
   background-image: url(landingpage.png);
   background-repeat: no-repeat; 
   display: block;
   width: 960px;
   padding: 5px;
   margin-bottom: 20px;
   background-color: #eeeeee;
   -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#main{
	padding: 150px 50px;
	margin: 0 auto;
}

button.paypal-button.large{
    width: 95px;
    padding: 0;
}

button{
    border-radius: 10px;
    background:#99b9d9;
    font-family:'BEBAS';
}

.login{
    font: 20px 'BEBAS';
    color: #0D130D;
    width: 230px;
}

.login a:link {
    text-decoration: none;
    background-color:#99b9d9;
   
}

.login a:visited {
    text-decoration: none;
    background-color:#99b9d9;
}

.login a:hover {
    text-decoration: none;
    background-color:#99b9d9;
}

.login a:active {
    text-decoration: none;
    background-color:#99b9d9;
}

h1, h2, h3 , h4, h5, h6,span{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #076BB6;
}

.home div{
    background-color: #EEE8D4;
}

p{
	font-size: 13px;
}

.scroll-content{
	background-color: #F4F3DC;
}

.bar-dark{
	background-color: #EEE8D4;
}
.center{
	margin: 0 auto;
}

/*        HOME PAGE
===========================
*/

#home{
	background-color: #F4F3DC;
	margin-top: 35px;
}
#home.scroll{
	margin-top: 20px;
}

div .homeItems{
    width: 350px;
    height: 250px;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    background-color: #EEE8D4;
    
}

div .homeName h3{
    width: 350px;
    background-color: white;
    border-bottom: 1px solid black;
}


/*         PROFILE
===========================
*/

.closet_profile{
	color: #555555;
}

.profile_top{
	margin-top: -6px;
	height: 65px;
	-webkit-box-shadow: 0 8px 6px -3px black; 
	-moz-box-shadow: 0 8px 6px -6px black; 
	box-shadow: 0 8px 6px -6px black;
}
.profile_pic{
	margin-top: -15px;
    margin-left: -54px;
}
.profile_name{
	background-color: #F4F3DC;
}

.btm_shadow{
	-webkit-box-shadow: 0 8px 6px -6px black; 
	-moz-box-shadow: 0 8px 6px -6px black; 
	box-shadow: 0 8px 6px -6px black;
}

.right_border{
	border-right: 1px solid black;
}
div.row.count{
	padding-bottom: 25px;
}

}

#bio{
	font-size: 12px;
}

.bio{
  margin-top: -80px;
  margin-left: 5px;
}

.trades{
    margin-top: -248px;
    margin-left: -45px;
    float: right;
    width: 230px;
    font: 20px 'BEBAS';
    color: #0D130D;
    background-color: #F7EC31;
}

.statsA{
   margin-top: -265px;
   margin-right: 189px;
   margin-left: -10px;
   float: right; 
   font: 20px 'BEBAS';
   color: #0D130D;
}

.statsS{
   margin-top: -265px;
   margin-right: 80px;
   float: right;
   font: 20px 'BEBAS';
   color: #0D130D;
}

.stats1{
    margin-top: -239px;
    margin-left: -45px;
    float: right;
    width: 230px;
    font: 20px 'BEBAS';
    color: #0D130D;
}

.stats2{
    margin-top: -238px;
    margin-right: -105px;
    float: right;
    width: 230px;
    font: 20px 'BEBAS';
    color: #0D130D;
}

.editProfile{
    margin-top: -50px;
    margin-left: 2px;
    width: 100px;
    font: 12px 'BEBAS';
    color: #0D130D;
}

/*        SHOP
===========================
*/

#shopicon{
    float: right;
    margin-top: -85px;
    margin-right: 9px;
}

.shopdrops{
    width: 120px;
    margin-top: -15px;
    margin-left: 9px;
}

.shopdropsfloat{  
}

.checkout{
    width: 330px;
    font: 20px 'BEBAS';
    color: #0D130D;
    background-color: #99b9d9;
}

.basicback{
    margin-top: 2px;
}

 div .Main{
    width: 550px;
    padding: 5px;
    margin: 5px;
    background-color: #EEE8D4;
}

/*        MEDIA QUERIES
===========================
*/

@media only screen and (max-width: 980px) {        
.landing {
    background-size: contain;
    width: 980px;

}   
 }

 @media only screen  and (min-width: 981px) and (max-width: 1081px) {   
.landing {
    width: 980px;        
        background-size: contain;

}   
 }

 @media only screen  and (min-width: 1082px) and (max-width: 1181px) {  
.landing {
    width: 1082px;
    background-size: contain;
}   
 }

 @media only screen  and (min-width: 1182px) and (max-width: 1281px) {  
.landing {
    width: 1182px;
    background-size: contain;
}   
}

 @media only screen  and (min-width: 400px) and (max-width: 600px) {  
.landing {
    width: 400px;
    background-size: contain;
}   
 }

